<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-1 col-lg-6">
          <div class="card rounded-circle card-stats mb-4 mb-xl-0">
            <img class="card-img-top rounded-circle" src="assets/img/theme/team-4-800x800.jpg" alt="Card image cap" style=" opacity: 1;">
          </div>
        </div>
        <div class="col-xl-1 col-lg-6">
          <div class="card rounded-circle card-stats mb-4 mb-xl-0">
            <img class="card-img-top rounded-circle" src="assets/img/theme/team-4-800x800.jpg" alt="Card image cap" style=" opacity: 0.2;">
          </div>
        </div>
        <div class="col-xl-1 col-lg-6">
          <div class="card rounded-circle card-stats mb-4 mb-xl-0">
            <img class="card-img-top rounded-circle" src="assets/img/theme/team-4-800x800.jpg" alt="Card image cap" style=" opacity: 0.2;">
          </div>
        </div>
        <div class="col-xl-1 col-lg-6">
          <div class="card rounded-circle card-stats mb-4 mb-xl-0">
            <img class="card-img-top rounded-circle" src="assets/img/theme/team-4-800x800.jpg" alt="Card image cap" style=" opacity: 0.2;">
          </div>
        </div>
        <div class="col-xl-1 col-lg-6">
          <div class="card rounded-circle card-stats mb-4 mb-xl-0">
            <img class="card-img-top rounded-circle" src="assets/img/theme/team-4-800x800.jpg" alt="Card image cap" style=" opacity: 0.2;">
          </div>
        </div>
        <div class="col-xl-1 col-lg-6">
          <div class="card rounded-circle card-stats mb-4 mb-xl-0">
            <img class="card-img-top rounded-circle" src="assets/img/theme/team-4-800x800.jpg" alt="Card image cap" style=" opacity: 0.2;">
          </div>
        </div>
        <div class="col-xl-1 col-lg-6">
          <div class="card rounded-circle card-stats mb-4 mb-xl-0">
            <img class="card-img-top rounded-circle" src="assets/img/theme/team-4-800x800.jpg" alt="Card image cap" style=" opacity: 0.2;">
          </div>
        </div>
        <div class="col-xl-1 col-lg-6">
          <div class="card rounded-circle card-stats mb-4 mb-xl-0">
            <img class="card-img-top rounded-circle" src="assets/img/theme/team-4-800x800.jpg" alt="Card image cap" style=" opacity: 0.2;">
          </div>
        </div>
        <div class="col-xl-1 col-lg-6">
          <div class="card rounded-circle card-stats mb-4 mb-xl-0">
            <img class="card-img-top rounded-circle" src="assets/img/theme/team-4-800x800.jpg" alt="Card image cap" style=" opacity: 0.2;">
          </div>
        </div>
        <div class="col-xl-1 col-lg-6">
          <div class="card rounded-circle card-stats mb-4 mb-xl-0">
            <img class="card-img-top rounded-circle" src="assets/img/theme/team-4-800x800.jpg" alt="Card image cap" style=" opacity: 0.2;">
          </div>
        </div>
        <div class="col-xl-1 col-lg-6">
          <div class="card rounded-circle card-stats mb-4 mb-xl-0">
            <img class="card-img-top rounded-circle" src="assets/img/theme/team-4-800x800.jpg" alt="Card image cap" style=" opacity: 0.2;">
          </div>
        </div>
        <div class="col-xl-1 col-lg-6">
          <div class="card rounded-circle card-stats mb-4 mb-xl-0">
            <img class="card-img-top rounded-circle" src="assets/img/theme/team-4-800x800.jpg" alt="Card image cap" style=" opacity: 0.2;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card">
        <div class="card-header"><h5 class="h3 mb-0">Activity feed</h5></div>
        <div class="card-header d-flex align-items-center">
          <div class="d-flex align-items-center">
            <a href=""><img class="avatar" src="assets/img/theme/team-4-800x800.jpg" alt=""></a>
          </div>
          <div class="text-right ml-auto">
            <button class="btn btn-sm btn-primary btn-icon" type="button">
              <span class="btn-inner-icon">
                <i class="ni ni-fat-add"></i>
              </span>
              <span class="btn-inner--text">Follow</span>
            </button>
          </div>
        </div>
        <div class="card-body">
          <p class="mb-4"> Personal profiles are the perfect way for you to grab their attention and persuade recruiters to continue reading your CV because you’re telling them from the off exactly why they should hire you.
          </p>
          <img class="img-fluid rounded" src="assets/img/others/img-1-1000x600.jpg" alt="Image placeholder">
          <div class="row align-items-center my-3 pb-3 border-bottom">
            <div class="col-sm-6">
              <div class="icon-actions">
                <a class="" href="">
                  <i class="ni ni-like-2"></i>
                  <span class="text-muted">150</span>
                </a>
                <a href="">
                  <i class="ni ni-chat-round"></i>
                  <span class="text-muted">36</span>
                </a>
                <a href="">
                  <i class="ni ni-curved-next"></i>
                  <span class="text-muted">12</span>
                </a>
              </div>
            </div>
            <div class="col-sm-6 d-none d-sm-block">
              <div class="d-flex align-items-center justify-content-sm-end">
                <div class="avatar-group">
                  <a class="avatar avatar-xs rounded-circle" placement="top" tooltip="Jessica Rowland" aria-describedby="tooltip-147" href="">
                    <img src="assets/img/others/team-1.jpg" alt="Image placeholder">
                  </a>
                  <a class="avatar avatar-xs rounded-circle" placement="top" tooltip="Jessica Rowland" aria-describedby="tooltip-148" href="">
                    <img src="assets/img/others/team-1.jpg" alt="Image placeholder">
                  </a>
                  <a class=" avatar avatar-xs rounded-circle" placement="top" tooltip="Jessica Rowland" aria-describedby="tooltip-149" href="">
                    <img src="assets/img/others/team-1.jpg" alt="Image placeholder">
                  </a>
                </div>
                <span class="pl-2 font-weight-bold"> and 30+ more </span>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <div class="media media-comment">
              <img class="avatar avatar-lg media-comment-avatar rounded-circle" src="assets/img/theme/team-4-800x800.jpg" alt="">
              <div class="media-body">
                <div class=" media-comment-text">
                  <h6 class=" h5 mt-0">Michael Lewis</h6>
                  <p class=" text-sm lh-160">
                    Cras sit amet nibh libero nulla vel metus scelerisque ante sollicitudin. Cras purus odio vestibulum in vulputate viverra turpis.
                  </p>
                  <div class=" icon-actions">
                    <a href="">
                      <i class=" ni ni-like-2"></i>
                      <span class=" text-muted"> 3 likes </span>
                    </a>
                    <a href="">
                      <i class=" ni ni-curved-next"></i>
                      <span class=" text-muted"> 2 shares </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class=" media media-comment"></div> -->
            <hr>
            <div class=" media align-items-center">
              <img class="avatar avatar-sm rounded-circle mr-4" src="assets/img/theme/team-4-800x800.jpg" alt="">
              <div class=" media-body">
                <form action="">
                  <textarea class="form-control" name="" id="" placeholder="Write your comment" rows="1"></textarea>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h3 class=" h3 mb-0">Últimas notificações</h3>
        </div>
        <div class="card-body">
          <div class=" timeline timeline-one-side" data-timeline-axis-style="dashed" data-timeline-content="axis">
            <div class="row timeline-block">
              <div class="col-1">
                <span class="p-1 text-center timeline-step badge-success rounded-circle">
                  <i class=" ni ni-bell-55"></i>
                </span>
              </div>
              <div class="col timeline-content">
                <div class=" d-flex justify-content-between pt-1">
                  <div>
                    <span class=" text-muted text-sm font-weight-bold"> New message </span>
                  </div>
                  <div class=" text-right">
                    <small class=" text-muted">
                      <i class=" fas fa-clock mr-1"> 2 hrs ago </i>
                    </small>
                  </div>
                </div>
                <h6 class=" text-sm mt-1 mb-0"> Let's meet at Starbucks at 11:30. Wdyt? </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
